wp-content/*
wp-content/languages
!wp-content/plugins
wp-content/plugins/akismet
wp-content/plugins/hello.php
wp-content/plugins/index.php
!wp-content/themes
wp-content/themes/twentytwentyone
wp-content/themes/twentytwentytwo
wp-content/themes/twentytwentythree
wp-content/themes/index.php